// ## Customize Variables

// This gets loaded after bootstrap/variables is loaded, so you can refer to bootstrap variables
// Remove borders around `<pre>` block so the code
// flows with our right column layout.
$pre-border-color: $pre-bg; // hide the border.
$gutter: 15px;


$body-bg:               #121314;
$text-color:            #dfe0e6;
$link-color:            $text-color;//themeColor(1);

$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-monospace;
$font-size-base: 12px;


$btn-default-color:              $gray-lighter;
$btn-default-bg:                 transparent;
$btn-default-border:             $gray-lighter;


$table-bg-hover:                $gray-darker;
$table-border-color:            $gray-darker;



//== Navbar
//
//##

$nav-link-hover-bg: $gray-dark;
$nav-pills-border-radius: 0;

$nav-tabs-border-color:                     themeColor(1);

$nav-tabs-link-hover-border-color:          none;

$nav-tabs-active-link-hover-bg:             none;
$nav-tabs-active-link-hover-color:          themeColor(1);
$nav-tabs-active-link-hover-border-color:   none;


//== Badges
//
//##

// $badge-color:                 #fff
//** Linked badge text color on hover
// $badge-link-hover-color:      #fff
// $badge-bg:                    $gray-light

//** Badge text color in active nav link
$badge-active-color:          #fff;
//** Badge background color in active nav link
$badge-active-bg:             $gray-light;

// $badge-font-weight:           bold
// $badge-line-height:           1
// $badge-border-radius:         10px

