.album-item {
  @include display(flex);
  @include flex(0 0 20%);
  @include flex-direction(column);

  .thumbnail {
    margin: 8px;
  }

  .caption {
    display: block;
    min-height: 60px;
  }

  &-image-wrapper {
    position: relative;
    height: auto; // responsive aspect ratio trick

    &:hover {
      .album-item-actions {
        display: flex;
      }
    }

    &:after {
      position: absolute;
      z-index: 50;
      font-family: FontAwesome;
      content: "\F1C5";
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      margin-top: -25px;
      font-size: 30px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $gray-dark;
    }
  }

  &-actions {
    @include flex(1);
    @include justify-content(space-around);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background: rgba(0,0,0,0.8);
    text-align: center;

    button {
      @include flex(0 0 60px);
      @include align-self(center);
      height: 60px;
      padding: 0;
      background: rgba(0,0,0,.2);
      border-radius: 60px;
      text-align: center;
      border: solid $gray-dark 2px;

      &:hover {
        border: solid #fff 2px;
        color: #fff;
      }

      i {
        font-size: 30px;
        margin-left: 6px;
      }
    }
  }

}
