.auto-complete {

  dt {
    text-transform: uppercase;
    color: $gray-light;
  }

  dd {
    @include display(flex);
    background: $gray-dark;
    margin-bottom: 1px;

    .info {
      padding: 8px;
    }

    .bg-image {
      width: 33px;
      height: 33px;
      @include flex(0 0 33px);
      @include align-self(center);
      padding-bottom: 0;

      &.artist {
        width: 23px;
        height: 23px;
        margin: 5px 0 0 5px;
        border-radius: 100%;
        @include flex(0 0 23px);
      }
    }
  }

  dt {
    padding: 8px;
  }

  .active, dd:hover {
    background: $gray-light;

    &.track {
      .artist {
        color: $text-color;
      }
    }
  }

  .track {
    .artist {
      display: block;
      color: $gray-light;
    }
  }

  .album {
    .artist {
      display: block;
      color: $gray-light;
    }
  }
}
