.auto-complete {

  dt {
    text-transform: uppercase;
    color: $gray-light;
  }

  dd {
    background: $gray-dark;
    margin-bottom: 1px;

    .info {
      display: inline-block;
      padding: 8px;
    }

    .bg-image {
      width: 33px;
      height: 33px;
      float: left;
      background-size: cover;

      &.artist {
        width: 23px;
        height: 23px;
        margin: 5px 0 0 5px;
        border-radius: 100%;
      }
    }
  }

  dt {
    padding: 8px;
  }

  .active, dd:hover {
    background: $gray-light;

    &.track {
      .artist {
        color: $text-color;
      }
    }
  }

  .track {

    .artist {
      display: block;
      color: $gray-light;
    }
  }

  .album {

    .artist {
      display: block;
      color: $gray-light;
    }
  }
}
