@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200);
@import "bourbon";

.flex {
  @include display(flex);
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.container-fluid {
  padding: 0 $gutter;
}

.main-content {
  @include display(flex);
  @include flex(1);
  @include flex-direction(row);
  position: relative;

  &.search-visible {
    .yield {

      .inner {
        left: 250px;
      }

      &:before {
        visibility: visible;
        opacity: .5;
      }

    }

    .main-search {
      left: 60px;
    }

    .player {
      box-shadow: -4px 0 4px #000;
    }

  }

  .yield {
    @include order(0);
    @include flex(1);
    position: relative;
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
    }

    &:before {
      visibility: hidden;
      content: " ";
      position: fixed;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0;
      z-index: 100;
      transform: translate3d(0,0,0);
      transition: opacity .2s ease 0s;
    }

    // Scrolling container
    .inner {
      position: absolute;
      height: 100%;
      overflow: auto;
      width: 100%;
      left: 0;
      bottom: 0;
      transform: translate3d(0,0,0);
      transition: left 0.2s ease 0s;
    }
  }

  .main-search {
    position: absolute;
    width: 250px;
    height: 100%;
    overflow: auto;
    left: 60px;
    z-index: 500;
    left: - 250px;
    transform: translate3d(0,0,0);
    transition: left 0.2s ease 0s;
    background: $gray-darker;
  }

  .main-navigation {
    @include order(-2);
    @include flex(0 0 60px);
    position: relative;
    z-index: 5000;
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }

  .player {
    @include order(1);
    @include flex(1);
    background: $gray-darker;
    position: relative;
    z-index: 5000;
    text-align: center;


    @media (min-width: $screen-sm-min) {
      @include flex(0 0 250px);
    }
  }
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
}

a:hover {
  border-bottom: solid $link-hover-color 1px;
}

.logo {
  @include display(flex);
  @include justify-content(center);
  font-size: 25px;
  color: themeColor(1);
  text-align: center;
  border-bottom: solid $gray-base 1px;
  height: 60px;
  font-size: 30px;

  i {
    @include align-self(center);
    @include flex(1);
  }
}

:focus {
  outline-style: solid !important;
  outline-color: themeColor(1) !important;
  outline-width: 1px !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.progress {
  margin: 0;
  height: 10px;
}


// TODO: remove after
@import "styles";
@import "styles2";
@import "containers/prank";

@import "containers/album";
@import "containers/artist";
@import "containers/current_track";
@import "containers/search";
@import "containers/fullscreen";
@import "containers/player";

@import "main_navigation";
@import "_autocomplete";

@import "components/_component";
@import "components/_context_menu";
@import "components/_page_header";
@import "components/_table";
@import "components/_volume_control";
@import "components/_bg_image";
@import "components/_album_list";
@import "components/_album_item";
@import "star_playlist";

