.flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: row;

  & > .yield {
    order: 0;
    flex: 1;
    overflow: auto;
  }

  & > .main-navigation {
    order: -1;
    flex: 0 0 200px;
    overflow: auto;
  }

   article {
     padding: $gutter $gutter*2;
  }
}

header, footer, .main-navigation {
  background: $gray-darker;
}

header {
  border-bottom: solid $gray-base 1px;
}

footer {
  border-top: solid $gray-base 1px;
}

.main-navigation {
  border-right: solid $gray-base 1px;
}

header, footer {
  padding: $gutter;
}

.main-header {
  .form-group {
    margin: 0;
  }
}

.logo {
  i {
    color: themeColor(1);
    font-size: 34px;
  }
}

.saved-playlists {
  margin: $gutter 0;
  header {
    padding: $gutter;
    border: none;
    //border-top: solid $gray-base 1px;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  section {

  }
}
