.album-container {
  .actions {
    margin: $gutter 0;
  }

  .release-date {
    color: $gray-light;
  }
}

.album-list, .artist-list {
  @include display-flex();
  @include flex(1);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin-left: -8px;
  margin-right: -8px;
}

.album-item {

  @include display-flex();
  @include flex(0 0 20%);
  @include flex-direction(column);

  .thumbnail {
    margin: 8px;
  }

  .caption {
    display: block;
    min-height: 60px;
  }

  &-image-wrapper {
    position: relative;
    height: auto; // responsive aspect ratio trick
    padding-bottom: 100%;

    &:hover {
      .album-item-actions {
        display: block;
      }
    }


    &:after {
      position: absolute;
      z-index: 50;
      font-family: FontAwesome;
      content: "\f1c5";
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      margin-top: -25px;
      font-size: 30px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $gray-dark;
    }
  }

  &-image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  &-actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 500;

    button {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      margin-left: -30px;
      padding: 0;
      background: rgba(0,0,0,.2);
      border-radius: 60px;
      text-align: center;
      border: solid $gray-dark 2px;

      &:hover {
        border: solid #fff 2px;
        color: #fff;
      }

      i {
        font-size: 30px;
        margin-left: 6px;
      }
    }
  }

}
