.main-navigation {
  border-right: solid $gray-base 1px;
  background: $gray-darker;

  a:hover, a:focus {
    color: white;
  }

  .active {
    a {
      background: $gray-dark;
    }
    a, a:hover, a:active {
      color: themeColor(1);
    }
    a:focus {
      color: white;
    }
  }

  .in-queue {
    position: absolute;
    top: 12px;
    left: 30px;
    font-size: 8px;
  }

  a, button {
    display: table-cell !important;
    vertical-align: middle;
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    border-bottom: solid 1px $gray-base;
    outline: none !important;
  }
}


.nav-stacked {
  a {
    color: $gray-light;
    &:hover {
      color: $text-color;
    }
  }

  li {
    margin: 0 !important;
  }
}
