
@font-face {
  font-family: 'laundromat1967';
  src: url('/fonts/laundromat1967.eot?#iefix') format('embedded-opentype'),  url('/fonts/laundromat1967.woff') format('woff'), url('/fonts/laundromat1967.ttf')  format('truetype'), url('/fonts/fonts/laundromat1967.svg#laundromat1967') format('svg');
  font-weight: normal;
  font-style: normal;
}
