
@font-face {
  font-family: 'Gotheroin-';
  src: url('/fonts/Gotheroin-.eot?#iefix') format('embedded-opentype'),  url('/fonts/Gotheroin-.woff') format('woff'), url('/fonts/Gotheroin-.ttf')  format('truetype'), url('/fonts/Gotheroin-.svg#Gotheroin?') format('svg');
  font-weight: normal;
  font-style: normal;
}
